export MCU_FLAGS="-mcpu=cortex-m4 -mthumb -mfpu=fpv4-sp-d16 -mfloat-abi=hard -u_printf_float"
export MODEM_APP="EXAMPLE_EXTI"
export REGION="EU_868"
export RP_VERSION="RP2_103"
export CRYPTO="LR11XX_WITH_CREDENTIALS"
export MIDDLEWARE="yes"
export MODEM_TRACE="no"
export APP_TRACE="no"
export ADD_MULTICAST="no"
export ADD_SMTC_FILE_UPLOAD="no"