export MCU_FLAGS="-mcpu=cortex-m4 -mthumb -mfpu=fpv4-sp-d16 -mfloat-abi=hard"
export MODEM_APP="EXAMPLE_EXTI"
export REGION="EU_868"
export RP_VERSION="RP2_103"
export CRYPTO="LR11XX_WITH_CREDENTIALS"